<?xml version="1.0" encoding="UTF-8"?>
<!-- Example config file -->
<!DOCTYPE Config SYSTEM "config.dtd">

<Config baseDir="/home/qiq/work/hector/src">

	<Server id="webserver">
		<threads>2</threads>
		<serverHost>*</serverHost>
		<serverPort>8080</serverPort>
		<lib name="server/web/libserver-web.la"/>
		<param name="test" value="test"/>
	</Server>

	<Server id="md5server">
		<threads>2</threads>
		<serverHost>*</serverHost>
		<serverPort>1200</serverPort>
		<lib name="server/hashserver/libserver-md5.la"/>
	</Server>

	<Server id="master">
		<threads>1</threads>
		<serverHost>*</serverHost>
		<serverPort>1000</serverPort>
		<lib name="server/master/libserver-master.la"/>
	</Server>

	<Server id="robot">
		<threads>1</threads>
		<serverHost>*</serverHost>
		<serverPort>1100</serverPort>
		<processingChain ref="robot-processing-chain"/>
		<!--processingChain ref="robot-processing-chain2"/-->
		<logConfig>config/robot.log.props</logConfig>
		<lib name="server/robot/libserver-robot.la"/>
		<param name="remotePort" value="2000"/>
		<param name="remoteHost" value="2001"/>
	</Server>

	<ProcessingChain id="robot-processing-chain">
		<processor ref="load-resource"/>
		<queue ref="q1"/>
		<processor ref="external-test"/>
		<queue ref="q2"/>
		<processor ref="save-resource"/>
	</ProcessingChain>

	<Processor id="load-resource">
		<type>simple</type>
		<threads>1</threads>
		<module ref="load-resource-module"/>
		<module ref="preprocess-resource-module"/>
		<outputQueue ref="q1"/>
	</Processor>

	<Module id="load-resource-module">
		<lib name="modules/libmodule-load-resource.so"/>
		<param name="inputDir" value="/tmp/input"/>
	</Module>

	<Module id="preprocess-resource-module">
		<lib name="modules/libmodule-dummy.so"/>
	</Module>

	<Queue id="q1">
		<maxMemory>0</maxMemory>
		<maxItems>0</maxItems>
	</Queue>

	<Processor id="external-test">
		<type>simple</type>
		<threads>1</threads>
		<module ref="external-test-module"/>
		<inputQueue ref="q1" priority="0"/>
		<outputQueue ref="q2" filter="*"/>
	</Processor>

	<Module id="external-test-module">
		<lib name="modules/libmodule-external-simple.so"/>
		<param name="path" value="/home/qiq/work/w2c/hector/src/robot/external-modules/ModuleDummy.sh"/>
	</Module>

	<Queue id="q2">
		<maxMemory>0</maxMemory>
		<maxItems>0</maxItems>
	</Queue>

	<Processor id="save-resource">
		<type>simple</type>
		<threads>1</threads>
		<module ref="save-resource-module"/>
		<inputQueue ref="q2"/>
	</Processor>

	<Module id="save-resource-module">
		<lib name="modules/libmodule-save-resource.so"/>
		<param name="outputDir" value="/tmp/output"/>
	</Module>

</Config>
