<?xml version="1.0" encoding="UTF-8"?>
<!-- Example config file -->
<!DOCTYPE config SYSTEM "config.dtd">

<config>

	<Server id="webserver">
		<threads>2</threads>
		<serverHost>*</serverHost>
		<serverPort>8080</serverPort>
		<lib name="libserver-web.so"/>
		<param name="test" value="test"/>
	</Server>

	<Server id="md5server">
		<threads>2</threads>
		<serverHost>*</serverHost>
		<serverPort>1235</serverPort>
		<lib name="libserver-md5.so"/>
	</Server>

	<Server id="master">
		<threads>1</threads>
		<serverHost>*</serverHost>
		<serverPort>1235</serverPort>
		<lib name="libserver-master.so"/>
	</Server>

	<Server id="robot">
		<threads>1</threads>
		<serverHost>*</serverHost>
		<serverPort>1234</serverPort>
		<processingChain ref="robot-processing-chain"/>
		<lib name="libserver-robot.so"/>
	</Server>

	<ProcessingChain id="robot-processing-chain">
		<processor ref="load-resource"/>
		<queue ref="q1"/>
		<processor ref="external-test"/>
		<queue ref="q2"/>
		<processor ref="save-resource"/>
	</ProcessingChain>

	<Processor id="load-resource">
		<type>simple</type>
		<threads>1</threads>
		<module ref="load-resource-module"/>
		<module ref="preprocess-resource-module"/>
	</Processor>

	<Module id="load-resource-module">
		<lib name="libmodule-load-resource.so"/>
		<param name="inputDir" value="/tmp/input"/>
	</Module>

	<Module id="preprocess-resource-module">
		<lib name="libmodule-dummy.so"/>
	</Module>

	<Queue id="q1">
		<maxMemory>0</maxMemory>
		<maxItems>0</maxItems>
		<srcProcessor ref="load-resource" filter="..."/>
		<dstProcessor ref="external-test" priority="..."/>
	</Queue>

	<Processor id="external-test">
		<type>simple</type>
		<threads>1</threads>
		<module ref="external-test-module"/>
	</Processor>

	<Module id="external-test-module">
		<lib name="libmodule-external-simple.so"/>
		<param name="path" value="/home/qiq/work/w2c/hector/src/robot/external-modules/ModuleDummy.sh"/>
	</Module>

	<Queue id="q2">
		<maxMemory>0</maxMemory>
		<maxItems>0</maxItems>
		<srcProcessor ref="external-test" filter="..."/>
		<dstProcessor ref="save-resource" priority="..."/>
	</Queue>

	<Processor id="save-resource">
		<type>simple</type>
		<threads>1</threads>
		<module ref="save-resource-module"/>
	</Processor>

	<Module id="save-resource-module">
		<lib name="libmodule-save-resource.so"/>
		<param name="outputDir" value="/tmp/output"/>
	</Module>

</config>
